In [1]:
import numpy as np
import pandas as pd
import math
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats
from scipy.stats import ttest_1samp
from scipy.stats import ttest_ind

df = pd.read_csv('/content/brain_size.csv', sep = ';')
df = df[['Gender', 'VIQ']]

In [2]:
df.describe()

              VIQ
count   40.000000
mean   112.350000
std     23.616107
min     71.000000
25%     90.000000
50%    113.000000
75%    129.750000
max    150.000000

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  40 non-null     object
 1   VIQ     40 non-null     int64
dtypes: int64(1), object(1)
memory usage: 768.0+ bytes

Vậy dữ liệu không có missing value

In [4]:
df.duplicated().any()

True

Vậy dữ liệu không có trùng lắp

In [5]:
df['Gender'].value_counts()

Male      20
Female    20
Name: Gender, dtype: int64

Số lượng nam và nữ đều là 20

H0: IQ của nam và nữ không bằng nhau

H1: IQ của nam và nữ bằng nhau

In [6]:
df_male = df[ df['Gender'] == 'Male' ]
df_fmale = df[ df['Gender'] == 'Female' ]

In [7]:
df_male = df_male[['VIQ']]
df_fmale = df_fmale[['VIQ']]

In [8]:
stat, p = ttest_ind(df_male['VIQ'], df_fmale['VIQ'])
if p < 0.05:
  print("Có sự khác biệt về IQ giữa nam và nữ")
else:
  print("Không có sự khác biệt về IQ giữa nam và nữ")

Không có sự khác biệt về IQ giữa nam và nữ

Vậy IQ của nam và nữ bằng nhau